#!/usr/bin/make -f

-include /usr/share/dpkg/buildtools.mk

%:
	dh $@

override_dh_auto_build:
	docbook-to-man debian/connect-proxy.sgml > debian/connect-proxy.1
	[ -d usr/bin ] || mkdir -p usr/bin
	$(CC) -DSOCKLEN_T=socklen_t connect.c -o usr/bin/connect-proxy

override_dh_clean:
	rm -rf usr
	dh_clean
